.home-navbar {
    display: flex;
    /* height: 70px; */
    width: 100vw;
    align-items: center;
    position: absolute;
    top: 2vh;
    justify-content: space-between;
}

.home-navbar-right {
    display: inline-flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 0 5vw 5vw 0;
}

.company-search input {
    display: inline-flex;
    margin-right: 25px;
    border: 1px solid black;
    padding: 5px;
}

.logo {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5vw;
    /* height: 30px; */
}

#search-input {
    padding-right: 15vw;
}

.home-detail {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    margin-top: 50px;
    margin-left: 5vw;
}

.watchlist {
    height: 100vh;
    /* background-color: red; */
    opacity: 0.5;
}

#company-button {
    /* display: flex;
    justify-content: space-between; */
    width: 90vw;
    margin-bottom: 30px;
}

#company-button div {
    /* text-align: left; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 50px;
}

#home {
    margin-left: 5vw;
    border: 1px solid #4bb4ff;
    background-color: #4bb4ff;
    color: white;
}

.home-navbar-center {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#home-navbar-center-box2 {
    margin-left: 5vw;
    border: 1px solid #4bb4ff;
    background-color: white;
    padding: 10px 50px;
}

#home-navbar-center-box1 {
    margin-left: 5vw;
    border: 1px solid #4bb4ff;
    background-color: white;
    padding: 10px 50px;
}

.button_text1 {}

.button_text2 {}

#home-ticker-button {
    margin-left: 5vw;
    border: 1px solid white;
    background-color: black;
    width: 200px;
    color: white;
    padding: 10px 50px;
}

#home-marketcap-button {
    margin-left: 5vw;
    border: 1px solid white;
    background-color: black;
    width: 200px;
    color: white;
    padding: 10px 50px;
}

#home-percentchange-button {
    margin-left: 5vw;
    border: 1px solid white;
    background-color: #4bb4ff;
    width: 200px;
    color: white;
    padding: 10px 50px;
}

#home-delta-button {
    margin-left: 5vw;
    border: 1px solid white;
    background-color: #4bb4ff;
    width: 200px;
    color: white;
    padding: 10px 50px;
}