.chart {
    /* display: block; */
    margin: 15vw 20vw 5vw 20vw;
    width: 60vw;
}
.insight {
   margin: 5vw 10vw; 
   text-align: justify;
}

.insight h2 {
    padding-bottom: 20px;
    font-weight: 500;
}
.insight p {
    font-size: 11pt;
    font-weight: lighter;
}
.total-cost {
    display: flex;
    align-items: center;
    justify-content: center;
}
.total-cost img {
    margin: 0vw 10vw 5vw 10vw;
    width: 50vw;
}
.analysis {
    margin-left: 35vw;
    margin-right: 35vw;
}
.analysis *{
    display: flex;
    justify-content: space-between;
 margin-bottom: 20px;
}