.chart {
    /* display: block; */
    margin: 10vw 20vw 5vw 20vw;
    width: 60vw;
}
.chart h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.insights {
   margin: 5vw 10vw; 
   text-align: justify;
}

.insights h2 {
    padding-bottom: 20px;
    font-weight: 500;
}
.insights p {
    font-size: 11pt;
    font-weight: lighter;
}
.total-cost {
    display: flex;
    align-items: center;
    justify-content: center;
}
.total-cost img {
    margin: 0vw 10vw 5vw 10vw;
    width: 50vw;
}
.analysis {
    margin-left: 35vw;
    margin-right: 35vw;
}
.analysis *{
    display: flex;
    justify-content: space-between;
 margin-bottom: 20px;
}
.analysis input{
height: 30px;
text-align: center;
}
.analysis ::placeholder {
    text-align: center;
}
.cost {
    border: 1px solid #609163;
}
.footer img{
    width: 100vw;
}